In [3]:
import pandas as pd
nba=pd.read_excel('NBAstats.xlsx')
nba.head(20)

,Nombre,Equipo,Edad,Estatura,Salario,Posici√≥n,PPP,REP,DEF,%TC,3P%,TL%,APP,TPP
0,K. Walker,Hornets,28,1.85,20000,Base,29.6,4.4,4.1,46.5,38.9,86.0,6.1,0.3
1,S. Curry,Warriors,30,1.90,22000,Base,29.5,5.0,4.5,51.5,49.2,92.3,6.1,0.3
2,L. James,LA Lakers,34,2.03,30000,Alero,28.8,7.7,6.7,52.0,39.6,75.0,7.7,0.9
3,J. Embiid,Philadelphia,24,2.13,45000,Ala Pivot,27.9,13.1,10.9,46.3,31.0,81.1,3.6,2.1
4,J. Harden,Rockets,29,1.96,37000,Base,27.8,5.3,4.8,42.5,35.6,81.5,7.3,0.7
5,A. Davis,New Orleans,25,2.08,24000,Ala Pivot,27.6,12.4,8.9,48.9,35.5,79.7,4.9,2.7
6,K. Durant,Warriors,30,2.06,47000,Alero,27.2,7.2,6.8,50.4,32.4,92.5,6.1,0.8
7,D. Lillard,Blazers,28,1.90,32000,Base,26.6,5.3,4.4,44.1,35.0,92.4,5.3,0.3
8,A. Giannis,Bucks,24,2.11,34000,Alero,25.9,12.7,10.1,55.5,10.5,67.2,5.5,1.4
9,W. Barton,Denver,27,1.98,39500,Escolta,16.5,5.0,4.2,45.2,37.0,80.5,4.1,0.6
10,T. Evans,Indiana,29,1.98,26000,Escolta,11.0,2.8,4.3,45.2,39.9,78.5,5.2,0.3
11,Z. LaVine,Chicago,23,1.96,34500,Escolta,25.3,5.4,3.5,38.3,34.1,81.3,3.0,0.1
12,JJ. Redick,Piladelphia,34,1.93,22000,Escolta,18.3,2.5,2.4,46.0,42.0,90.4,3.0,0.0
13,P. George,Oklahoma,28,2.06,39000,Alero,24.3,7.9,6.8,43.0,40.1,84.1,4.3,0.4
14,N. Vucevic,Orlando,28,2.13,41000,Ala Pivot,20.0,11.2,8.4,47.5,31.4,81.9,3.4,1.0
15,K. Anthony,Timberwolves,23,2.13,49000,Ala Pivot,19.9,12.2,9.4,54.4,42.1,85.8,2.4,1.4
16,J. Nurkic,Blazers,24,2.13,51000,Pivot,15.2,10.9,6.6,50.5,11.8,63.0,2.2,1.4
17,D. Jordan,Dallas,30,2.11,44000,Pivot,11.2,13.6,10.9,64.5,0.0,81.7,2.3,0.9
18,C. Capela,Rockets,24,2.08,37000,Pivot,16.3,11.2,7.6,65.2,0.0,56.0,1.7,1.8
19,D. Howard,Wizards,33,2.11,26000,Pivot,12.8,9.2,9.3,62.3,14.3,60.4,1.4,1.6